extends layout 
block content 
    h1 Item name: #{item.name} 
    p #[strong Description]: #{item.description}
    p #[strong Price]: #{item.price}
    p #[strong Number in stock]: #{item.number_in_stock}