extends layout 
block content 
    h3.text-center Log-in
    form(action="", method="post") 
        .form-floating
            input.form-control#floatingEmail(name="Email")
            label(for='floatingEmail') Email
        .form-floating
            input.form-control#floatingPassword(type="password" name="password")
            label(for='floatingPassword') Password
        button.btn.btn-primary submit
    .d-flex.gap-3
        a(href="#") Forgot password
        a(href="./sign-up") Sign-up