header {
  border: 1px solid rgb(233, 231, 231);
  background-color: rgba(255, 255, 255, 0.9647058824);
}
header > :last-child {
  background-color: rgba(214, 80, 80, 0.05);
}
header a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.781);
  font-size: 0.9rem;
}
header a.logo {
  color: #ff8800;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: large;
}
header a:hover {
  color: #ff8800;
}
header .btn {
  background-color: #ff8800;
  border: 2px solid #ff8800;
  border-radius: 0 20px 20px 0;
  color: #fdfbf1;
}

nav {
  font-size: 0.95rem;
}

input[type=search] {
  border-radius: 20px 0 0 20px;
  border: 2px solid #ff8800;
  border-right: 0px solid transparent;
  font-size: 0.95rem;
}
input[type=search]:focus {
  box-shadow: none;
  border: 2px solid #ff8800;
}

i {
  transform: scale(1.2);
  vertical-align: middle;
}

body {
  background-color: rgba(187, 183, 183, 0.18);
}

aside {
  background-color: #fff;
}

main {
  background-color: #fff;
}

.card-width {
  width: 15.6rem;
}

.card {
  overflow: hidden;
}
.card a img {
  height: 12rem;
}
.card img:hover {
  transform: scale(1.1);
}